 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <ul>
      <li>
      <div id="front" class="tech">
        <h3>Front-End</h3>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>
      </div>
      </li>
      <li>
      <div id="back" class="tech">
        <h3>Back-End</h3>
        <i class="devicon-php-plain colored"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-python-plain colored"></i>
        <i class="devicon-c-plain colored"></i>
        <i class="devicon-cplusplus-plain colored"></i>
        <i class="devicon-ruby-plain-wordmark colored"></i>
      </div>
      </li>
      <li>
      <div id="datab" class="tech">
        <h3>Databases</h3>
        <i class="devicon-mysql-plain-wordmark colored"></i>
        <i class="devicon-mongodb-plain-wordmark colored"></i>
      </div>
      </li>
      <li>
      <div id="FaL" class="tech">
        <h3>Frameworks and Libraries</h3>
        <i class="devicon-rails-plain-wordmark colored"></i>
        <i class="devicon-nodejs-plain-wordmark colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
      </div>
      </li>
      <li>
      <div id="tools" class="tech">
        <h3>Tools</h3>
        <i class="devicon-git-plain-wordmark colored"></i>
      </div>
      </li>
      <li>
      <div id="cloud" class="tech">
        <h3>Cloud Computing</h3>
        <img src="https://www.datocms-assets.com/2885/1513617132-google-cloud.svg"></img>
      </div>
      </li>
    </ul>
  </div>
