 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div id="front" class="tech">
      <h3>Front-End</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
    </div>
    <div id="back" class="tech">
      <h3>Back-End</h3>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
    </div>
    <div id="datab" class="tech">
      <h3>Databases</h3>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
    </div>
    <div id="FaL" class="tech">
      <h3>Frameworks and Libraries</h3>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-react-original-wordmark colored"></i>
    </div>
    <div id="tools" class="tech">
      <h3>Tools</h3>
      <i class="devicon-git-plain-wordmark colored"></i>
    </div>
</div>
