<div class="user-details-exp">
  <h1> Experience </h1>
  </div>
  <div id="professional-view">
  <div class="user-experience professional">
    <div class="work-images-left">
      <img alt="hashscrape" src="/assets/img/experience/Datagee_Logo.PNG"/>
    </div>
    <div class="contents-right">
      <h3 class="company"> Datagee </h3>
      <p class="edates"><em>March 2021 - Present</em></p>
      <ul>
        <li>Skills used:</li>
        <ul>
          <li>React.js / React Native</li>
          <li>Python</li>
          <li>C/C++</li>
          <li>AWS Amplify</li>
        </ul>
      </ul>
      <p>
        Worked alongside project managers and clients to provide estimates and solutions for a variety of engineering problems. This involved optimizing and updating client's websites, creating custom web interfaces used for communicating with IoT devices using React, and performing Quality Assurance to find vulnerabilities and defects in the client's software.
      </p>
    </div>
  </div>
</div>
  