<div class="user-details">
  <h1> Projects </h1>
  <button id="academic" class="project-button active">Academic Projects</button>
  <button id="personal" class="project-button">Personal Projects</button>
</div>
<div id="academic-view">
<div class="user-projects academic">
  <div class="academic-projects"></div>
  <div class="images-right">
    <img alt="vocacoord" src="/assets/img/VCLogo.png"/>
  </div>
  <div class="contents">
    <h3> VocaCoord </h3>
    <ul>
      <li>Skills used:</li>
      <ul>
        <li>Javascript</li>
        <li>React</li>
        <li>Firebase</li>
        <li>Expo</li>
      </ul>
    </ul>
    <p>
      Vocacoord is a Web/Mobile application designed for the purpose of assisting students with disabilities by supplying an 
      interactive environment using Speech-To-Text and providing descriptions for key words. 
    </p>
    <a class="project-link" target="_blank" href="https://vocacoord.com">Website</a>
  </div>
</div>
</div>
<div id="personal-view">
<div class="user-projects personal">
  <div class="images-left">
    <img alt="hashscrape" src="/assets/img/hash_logov4.png"/>
  </div>
  <div class="contents-right">
    <h3> HashScrape </h3>
    <ul>
      <li>Skills used:</li>
      <ul>
        <li>Ruby</li>
        <li>Ruby On Rails</li>
        <li>SQlite3</li>
        <li>HTML, CSS, Javascript</li>
      </ul>
    </ul>
    <p>
      Hashscrape is a web application that was created to experiment with Ruby On Rails. 
      This application allows users to search for tweets containing a specific hashtag, or search for a users most recent tweets. 
      Users can also create an account to store any tweets they find.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/jtbryan/HashScrape">Github repo</a>
  </div>
</div>
</div>
