<div id="particles-js">
    <div class="pubs-header">
        <h1>
          <span class="pubs-title">Publications and Posters</span>
        </h1>
        <div class="header-links">
            <a class="link" href="../"><i class="icon fa fa-home fa-2x" aria-hidden="true"></i></a>
        </div>
        <div id="pubs-container">
          <ul>
              <li><span>ASME-2020 Publication</span><a href="../assets/publication_material/ASME-2020-Publication.pdf"><img class="pubs-imgs" src="../assets/publication_material/ASME-2020-Thumbnail.PNG" alt="ASME-2020"></img></a></li>
              <li><span>UTK Eureca poster</span><a href="../assets/publication_material/Eureca_Poster.PNG"><img class="pubs-imgs" src="../assets/publication_material/Eureca_Poster.PNG" alt="Eureca"></img></a></li>
          </ul>
        </div>
    </div>
</div>
  