<div id="particles-js">
    <div class="pubs-header">
        <h1>
          <span class="pubs-title">Publications and Posters</span>
        </h1>
        <div class="header-links">
            <a class="link" href="../" data-scroll>Home</a>
          </div>
        <div id="pubs-container">
            <ul>
                <li><span>UTK Eureca poster</span><a href="../assets/img/Eureca_Poster.PNG"><img class="pubs-imgs" src="../assets/img/Eureca_Poster.PNG" alt="Eureca"></img></a></li>
            </ul>
        </div>
    </div>
</div>
  