#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.fa:hover {
  color: rgb(48, 46, 46);
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.user ul li{
  list-style: none;
  flex: 0 0 33.333333%;
}

@media only screen and (min-width: 201px) and (max-width: 700px){
  .user ul li{
      list-style: none;
      flex: 0 0 100%;
  }
}

#front{flex: 1 0 60%}
#back{flex: 1 0 60%}
#datab{flex: 1 0 60%}
#FaL{flex: 1 0 60%}
#tools{flex: 1 0 60%}
#cloud img{width: 170px;}

@media only screen and (min-width: 10px) and (max-width: 1200px){
  #cloud img{width: 150px;}
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

.user i, .user img {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
  animation-duration: 2.0s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  opacity: 0;
}
