.pubs-header{z-index:1;text-align:center;color:#fff;position:absolute;top:30%;left:50%;margin:0 auto;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}

#pubs-container{
    margin: auto;
}

#pubs-container ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

#pubs-container ul li{
    list-style: none;
    flex: 0 0 33.333333%;
}

.pubs-title{font-size:40px;display:block;line-height:1;color:#fff}

#invis-container{
    display: none;
}

#invis-container .footer{
    margin-top: none;
}