<!DOCTYPE html>
<html lang="en">
  <div id="invis-container">
  {% include head.html %}
  <body>
      {% include pubsheader.html %}
      {% include pubsbody.html %}
  </body>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"  type="text/javascript"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="/assets/js/sweet-scroll.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/functions.js"></script>
  {% include google-analytics.html %}